body {
  display: flex;
}

.grid-container {
  height: 100vh;
  margin: auto;
}

#grid-table {
  border: 1px solid black;
  border-spacing: 0.5px;
  max-height: 960px;
  max-width: 960px;
}

.table-cell {
  border: 1px solid #686868;
  padding: 13px;
}

.size-contain {
  display: flex;
}
