body {
  display: flex;
}

.grid-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding-top: 5vh;
  margin: auto;
  width: 650px;
}

.grid-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-contain {
  display: flex;
  gap: 10px;
}

h1 {
  text-align: center;
}

#pixel-canvas {
  margin-top: 25px;
}

#grid-table {
  border: 1px solid black;
  border-spacing: 0.5px;
  height: 650px;
  width: 650px;
}

.table-cell {
  border: 1px solid #686868;
}

input:invalid {
  background-color: red;
}
