body {
  display: flex;
}

.grid-container {
  height: 100vh;
  margin: auto;
}

#grid-table {
  border: 1px solid black;
  height: 250px;
  width: 250px;
}

.table-cell {
  border: 1px solid black;
}
